@{
    ViewData["Title"] = "Lab 1 Table Tennis";
}
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Exit" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Sign In</a><br />
    <a asp-controller="Account" asp-action="Register">Sign Up</a>
}

